<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Effect_050.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{83,80}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,102},{83,80}}</string>
                <key>sourceSize</key>
                <string>{345,276}</string>
            </dict>
            <key>Effect_051.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{97,90}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,98},{97,90}}</string>
                <key>sourceSize</key>
                <string>{345,276}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TeXiao_11.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5d2ae9327090a649a9533606de7ecac$</string>
            <key>textureFileName</key>
            <string>TeXiao_11.png</string>
        </dict>
    </dict>
</plist>
