<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Effect_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{177,234}}</string>
                <key>offset</key>
                <string>{17,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,19},{177,234}}</string>
                <key>sourceSize</key>
                <string>{345,276}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TeXiao_13.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:356b3c9b1dcf0f0e4e89b3eca646e6bf$</string>
            <key>textureFileName</key>
            <string>TeXiao_13.png</string>
        </dict>
    </dict>
</plist>
