<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Effect_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{45,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,73},{45,126}}</string>
                <key>sourceSize</key>
                <string>{345,276}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TeXiao_07.png</string>
            <key>size</key>
            <string>{64,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:97ecef4b68eff7ab5e6ae40cdb9e4a87$</string>
            <key>textureFileName</key>
            <string>TeXiao_07.png</string>
        </dict>
    </dict>
</plist>
