<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Effect_042.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,49},{49,70}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,97},{49,70}}</string>
                <key>sourceSize</key>
                <string>{345,276}</string>
            </dict>
            <key>Effect_043.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{45,58}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,103},{45,58}}</string>
                <key>sourceSize</key>
                <string>{345,276}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TeXiao_30.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b34ea77287b5342dbd5302d66a96b86$</string>
            <key>textureFileName</key>
            <string>TeXiao_30.png</string>
        </dict>
    </dict>
</plist>
