<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Effect_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,122},{31,24}}</string>
                <key>offset</key>
                <string>{130,109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{287,17},{31,24}}</string>
                <key>sourceSize</key>
                <string>{345,276}</string>
            </dict>
            <key>Effect_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{83,78}}</string>
                <key>offset</key>
                <string>{104,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,18},{83,78}}</string>
                <key>sourceSize</key>
                <string>{345,276}</string>
            </dict>
            <key>Effect_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{121,118}}</string>
                <key>offset</key>
                <string>{85,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,17},{121,118}}</string>
                <key>sourceSize</key>
                <string>{345,276}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TeXiao_10.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22d59ef859efe3bb749497345b57988c$</string>
            <key>textureFileName</key>
            <string>TeXiao_10.png</string>
        </dict>
    </dict>
</plist>
