<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Effect_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{49,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,114},{49,48}}</string>
                <key>sourceSize</key>
                <string>{345,276}</string>
            </dict>
            <key>Effect_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{41,36}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,116},{41,36}}</string>
                <key>sourceSize</key>
                <string>{345,276}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TeXiao_03.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fadd85486f96902b8e75abe04cc1650c$</string>
            <key>textureFileName</key>
            <string>TeXiao_03.png</string>
        </dict>
    </dict>
</plist>
