<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Effect_056.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,122},{61,60}}</string>
                <key>offset</key>
                <string>{115,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,17},{61,60}}</string>
                <key>sourceSize</key>
                <string>{345,276}</string>
            </dict>
            <key>Effect_057.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{121,118}}</string>
                <key>offset</key>
                <string>{85,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,17},{121,118}}</string>
                <key>sourceSize</key>
                <string>{345,276}</string>
            </dict>
            <key>Effect_058.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{61,62}}</string>
                <key>offset</key>
                <string>{50,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,75},{61,62}}</string>
                <key>sourceSize</key>
                <string>{345,276}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TeXiao_38.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:305c133054a2786024e455b56fccfcad$</string>
            <key>textureFileName</key>
            <string>TeXiao_38.png</string>
        </dict>
    </dict>
</plist>
